.up{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.dies {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 20px;
    font-family: poppins;
}


.dies .text img {
 max-width: 70px;
}


.dies .text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #2FA494;

}

.dies h3 {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
}


.dies p {
    color: #E9C067;
    font-size: 35px;
    font-weight: 800;
}



.card-header, label{
    color: #000000;
}

.card{
    background-color: transparent;
}

.donation{
    color: #FFFFFF;
}


    .group-card {
        transition: 0.3s;
        cursor: pointer;
        border: 2px solid #dee2e6;
    }

    .group-card:hover {
        border-color: #4A148C;
        box-shadow: 0 0 10px rgba(74, 20, 140, 0.1);
    }

    .group-card.selected {
        border-color: #4A148C;
        background-color: #f8f0fc;
    }

    .group-card input[type="radio"] {
        display: none;
    }

@media (max-width: 400px) {

    .dies p {
        margin-top: 20px;
    }

    .dies .text img {
        max-width: 50px;
       }

       

  }